body {
  font-family: sans-serif;
  font-size: 12pt;
}

#show-usage {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

#chemical-formula-form {
  font-size: 16pt;
}

#form-title {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

#form-input {
  font-size: 16pt;
  width: auto;
}

#form-button {
  margin-left: 1rem;
  font-size: 75%;
}

#form-status-window {
  color: red;
  padding-left: 1rem;
  font-size: 12pt;
}

#fw {
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  width: 12rem;
  padding-left: 0.5rem;
/*  border: 2px solid black; */
  font-size: 16pt;
  border-bottom: 2px solid black;
}

#fw-value {
  margin-left: 0.5rem;
}

#element-table {
  border-collapse: collapse; /* セルの線を重ねる */
  border: 1px solid black;
}

#caption-info {
  margin-bottom: 0.5rem;
}

.table-header {
  text-align: center;
  border: 1px solid black;
}

.table-data {
  border: 1px solid black;
}

.data-label {
  text-align: center;
}

.data-value {
  text-align: right;
}

#button-copy {
  margin: 0.5rem 0;
}
